<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css">
  <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
  <script rel="stylesheet" src="/js/instagram.js"></script>
  <meta charset="UTF-8">
  <title>INSTAGRAMMIT</title>
</head>
<body>
  <h1>HELLO</h1>
  <ul id="photo-container" class="small-block-grid-8"></ul>
</body>

</html>

